/*page-header*/
/*features*/
/*cat-reference*/
/*reviews*/
/*popular-and-price*/

.price-list {
    width: 100%;
    border-collapse: collapse;
}

.price-list .price-number {
    text-align: center;
}

.price-list .price-name {
    font-weight: bold;
}

.price-list th {
    font-weight: normal;
    text-align: left;
}

.price-list td {
    border: 1px solid #333333;
}

.price-list th,
.price-list td {
    padding: 5px 10px;
}

/*feedback*/

.feedback-form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*page-footer*/



/*временные стили*/

.page-header {/*del*/
    padding: 10px;
    background-color: #eeeeee;
}

.page-footer {/*del*/
    padding: 10px;
    background-color: #eeeeee;
}

.page-footer {/*del*/
    margin-top: 20px;
}

